* {
  margin: 0;
  padding: 0;
}

html {
  background: #fbdac4;
  height: 100%;
  overflow: hidden;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Gentium Basic', serif;
  color: #5D5D5D;
  font-style: italic;
}

h1 {
  font-weight: 400;
}

.wrapper {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  height: 400px;
  top: 50%;
  margin-top: -200px;
}

.skin {
  position: absolute;
  height: 100%;
  width: 240px;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -120px;
  background: #f7c3c7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbdac4), color-stop(0.35, #f3afbc), color-stop(0.65, #f3afbc), color-stop(1, #fbdac4));
  background-image: -o-linear-gradient(bottom, #fbdac4 0%, #f3afbc 35%, #f3afbc 65%, #fbdac4 100%);
  background-image: -moz-linear-gradient(bottom, #fbdac4 0%, #f3afbc 35%, #f3afbc 65%, #fbdac4 100%);
  background-image: -webkit-linear-gradient(bottom, #fbdac4 0%, #f3afbc 35%, #f3afbc 65%, #fbdac4 100%);
  background-image: -ms-linear-gradient(bottom, #fbdac4 0%, #f3afbc 35%, #f3afbc 65%, #fbdac4 100%);
  background-image: linear-gradient(to bottom, #fbdac4 0%, #f3afbc 35%, #f3afbc 65%, #fbdac4 100%);
}
.skin:before, .skin:after {
  content: "";
  display: block;
  width: 62%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  background: #fbdac4;
}
.skin:before {
  left: -25%;
  background: -webkit-gradient(linear, right top, left top, color-stop(40%, #fbdac4), color-stop(0%, #f6c0c8));
}
.skin:after {
  right: -25%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6c0c8), color-stop(40%, #fbdac4));
}

.clit {
  width: 30px;
  height: 30px;
  background: #f5aaa9;
  border-radius: 30px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin: 0 0 0 -15px;
  z-index: 3;
  -webkit-transition: background-color ease 3s;
  -moz-transition: background-color ease 3s;
  -ms-transition: background-color ease 3s;
  transition: background-color ease 3s;
}

.labia {
  width: 45px;
  height: 180px;
  border-radius: 100%;
  position: absolute;
  top: 95px;
  left: 50%;
  margin: 0 0 0 -22.5px;
  z-index: 2;
  overflow: hidden;
  background: #f5aaa9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5aaa9), color-stop(0.5, #f5aaa9), color-stop(1, #f5aaa9));
  background-image: -o-linear-gradient(bottom, #f5aaa9 0%, #f5aaa9 50%, #f5aaa9 100%);
  background-image: -moz-linear-gradient(bottom, #f5aaa9 0%, #f5aaa9 50%, #f5aaa9 100%);
  background-image: -webkit-linear-gradient(bottom, #f5aaa9 0%, #f5aaa9 50%, #f5aaa9 100%);
  background-image: -ms-linear-gradient(bottom, #f5aaa9 0%, #f5aaa9 50%, #f5aaa9 100%);
  background-image: linear-gradient(to bottom, #f5aaa9 0%, #f5aaa9 50%, #f5aaa9 100%);
}

.drop {
  background-color: #c8eaf9;
}

.orgasm--1 .clit {
  background-color: #d57675;
}
.orgasm--1 .clit__drop {
  width: 4px;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  left: 50%;
  border-radius: 4px;
}
.orgasm--1 .clit__drop--1 {
  margin-left: -5px;
  -webkit-animation: shortDrop 3s linear forwards;
  -moz-animation: shortDrop 3s linear forwards;
  -ms-animation: shortDrop 3s linear forwards;
  animation: shortDrop 3s linear forwards;
}
.orgasm--1 .clit__drop--2 {
  margin-left: 4px;
  -webkit-animation: longDrop 5s linear forwards;
  -moz-animation: longDrop 5s linear forwards;
  -ms-animation: longDrop 5s linear forwards;
  animation: longDrop 5s linear forwards;
}
.orgasm--1 .labia__drop--1 {
  width: 8px;
  position: absolute;
  top: -10px;
  left: 8px;
  height: 0;
  border-radius: 8px;
  -webkit-animation: xLongDrop 4s 2s linear forwards;
  -moz-animation: xLongDrop 4s 2s linear forwards;
  -ms-animation: xLongDrop 4s 2s linear forwards;
  animation: xLongDrop 4s 2s linear forwards;
}
.orgasm--1 .labia__drop--2 {
  width: 12px;
  position: absolute;
  top: 25px;
  right: -3px;
  height: 0;
  border-radius: 12px;
  -webkit-animation: xxLongDrop 7s 3s linear forwards;
  -moz-animation: xxLongDrop 7s 3s linear forwards;
  -ms-animation: xxLongDrop 7s 3s linear forwards;
  animation: xxLongDrop 7s 3s linear forwards;
}
.orgasm--1 .main__drop {
  width: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 260px 0 0 -10px;
  z-index: 1;
  -webkit-animation: xxxLongDrop 3s 7s linear forwards;
  -moz-animation: xxxLongDrop 3s 7s linear forwards;
  -ms-animation: xxxLongDrop 3s 7s linear forwards;
  animation: xxxLongDrop 3s 7s linear forwards;
}
.orgasm--1 .icon {
  opacity: 0;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  z-index: 6;
}
.content h1 {
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
@media only screen and (min-width: 960px) {
  .content h1 {
    font-size: 60px;
  }
}
.content p {
  position: absolute;
  bottom: 50px;
  width: 100%;
  font-size: 14px;
}
@media only screen and (min-width: 960px) {
  .content p {
    font-size: 20px;
  }
}
.content a {
  color: #5D5D5D;
  text-decoration: underline;
}

.social {
  position: absolute;
  bottom: 105px;
  width: 100%;
}

.social__item {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}

.icon {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 65px;
  height: 111px;
  z-index: 2;
  background: url("../icon.png") 0 0 no-repeat;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon {
    width: 33px;
    height: 56px;
    background-size: 33px 56px;
  }
}
.climax .overlay {
  background-color: #c8eaf9;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: showOverlay 3s ease both;
  -moz-animation: showOverlay 3s ease both;
  -ms-animation: showOverlay 3s ease both;
  animation: showOverlay 3s ease both;
  z-index: 5;
}
.climax .content {
  -webkit-animation: showContent 1s 3s linear forwards;
  -moz-animation: showContent 1s 3s linear forwards;
  -ms-animation: showContent 1s 3s linear forwards;
  animation: showContent 1s 3s linear forwards;
}

/*
	ANIMATIONS
 */
@-webkit-keyframes showOverlay {
  0% {
    -webkit-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-moz-keyframes showOverlay {
  0% {
    -webkit-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-ms-keyframes showOverlay {
  0% {
    -webkit-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes showOverlay {
  0% {
    -webkit-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes showContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes showContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes showContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shortDrop {
  0% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

@-moz-keyframes shortDrop {
  0% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

@-ms-keyframes shortDrop {
  0% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

@keyframes shortDrop {
  0% {
    height: 0;
  }

  100% {
    height: 30px;
  }
}

@-webkit-keyframes longDrop {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}

@-moz-keyframes longDrop {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}

@-ms-keyframes longDrop {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}

@keyframes longDrop {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}

@-webkit-keyframes xLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 65px;
  }
}

@-moz-keyframes xLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 65px;
  }
}

@-ms-keyframes xLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 65px;
  }
}

@keyframes xLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 65px;
  }
}

@-webkit-keyframes xxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@-moz-keyframes xxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@-ms-keyframes xxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@keyframes xxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@-webkit-keyframes xxxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 500px;
  }
}

@-moz-keyframes xxxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 500px;
  }
}

@-ms-keyframes xxxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 500px;
  }
}

@keyframes xxxLongDrop {
  0% {
    height: 0;
  }

  100% {
    height: 500px;
  }
}
