* { margin: 0; padding: 0; }

html {
	background: #fbdac4;
	height: 100%;
	overflow: hidden;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 10% 0;
	box-sizing: border-box;
}

.wrapper {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.skin {
	position: absolute;
	height: 100%;
	width: 30%;
	left: 50%;
	top: 0;
	bottom: 0;
	margin-left: -15%;

	background: #f7c3c7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(50%,#f7c3c7), color-stop(100%,transparent));

	&:before,
	&:after {
		content: "";
		display: block;
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		border-radius: 50%;
		background: #fbdac4;
	}

	&:before {
		left: -25%;
		background: -webkit-gradient(linear, right top, left top, color-stop(30%,#fbdac4), color-stop(0%,#f6c0c8));
	}

	&:after {
		right: -25%;
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f6c0c8), color-stop(30%,#fbdac4));
	}
}



.clit {
	width: $clitWidth;
	height: $clitHeight;
	background: #f5aaa9;
	border-radius: $clitWidth;
	position: absolute;
	top: 15%;
	left: 50%;
	margin: 0 0 0 (-$clitWidth/2);
	-webkit-transition: background-color ease 3s;
	z-index: 3;
}

.labia {
	width: $labiaWidth;
	height: $labiaHeight;
	background: #f5aaa9;
	border-radius: 100%;
	position: absolute;
	top: 15%;
	left: 50%;
	margin: $clitWidth+10 0 0 (-$clitWidth/2);
	z-index: 2;
	overflow: hidden;
}

.drop {
	background-color: #c8eaf9;
}




.orgasm--1 {

	.clit {
		background-color: #d57675;
	}

	.clit__drop {
		width: 4px;
		position: absolute;
		top: 100%;
		left: 50%;
		border-radius: 4px;
	}

	.clit__drop--1 {
		margin-left: -5px;
		-webkit-animation: shortDrop 3s linear forwards;
	}

	.clit__drop--2 {
		margin-left: 4px;
		-webkit-animation: longDrop 5s linear forwards;
	}

	.labia__drop--1 {
		width: 8px;
		position: absolute;
		top: -10px;
		left: 8px;
		height: 0;
		border-radius: 8px;
		-webkit-animation: xLongDrop 4s 2s linear forwards;
	}

	.labia__drop--2 {
		width: 12px;
		position: absolute;
		top: 25px;
		right: -3px;
		height: 0;
		border-radius: 12px;
		-webkit-animation: xxLongDrop 7s 3s linear forwards;
	}

	.main__drop {
		width: 20px;
		border-radius: 20px;
		position: absolute;
		top: 15%;
		left: 50%;
		margin: ($labiaHeight+$clitHeight) 0 0 (-20px/2);
		z-index: 1;
		-webkit-animation: xxxLongDrop 3s 7s linear forwards;
	}
}





.climax {

	.overlay {
		background-color: #c8eaf9;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		-webkit-animation: showOverlay 3s ease both;
		z-index: 5;
	}

	.content {
		-webkit-animation: showContent 250ms 3s ease forwards;
	}

}


.content {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0;
	z-index: 6;
}



/*
	ANIMATIONS
 */

@-webkit-keyframes showOverlay {
	0% {
		-webkit-transform: translateY(100%);
	}
	100% {
		-webkit-transform: translateY(0px);
	}
}

@-webkit-keyframes showContent {
	0% {
		-webkit-transform: translateY(-100%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes shortDrop {
	0% {
		height: 0;
	}
	100% {
		height: 30px;
	}
}

@-webkit-keyframes longDrop {
	0% {
		height: 0;
	}
	100% {
		height: 50px;
	}
}

@-webkit-keyframes xLongDrop {
	0% {
		height: 0;
	}
	100% {
		height: 65px;
	}
}

@-webkit-keyframes xxLongDrop {
	0% {
		height: 0;
	}
	100% {
		height: 100px;
	}
}

@-webkit-keyframes xxxLongDrop {
	0% {
		height: 0;
	}
	100% {
		height: 500px;
	}
}