* { margin: 0; padding: 0; }

html {
	background: #fbdac4;
	height: 100%;
	overflow: hidden;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	font-family: 'Gentium Basic', serif;
	color: #5D5D5D;
	font-style: italic;
}

h1 { font-weight: 400; }

.wrapper {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	height: 400px;
	top: 50%;
	margin-top: -200px;
}

.skin {
	position: absolute;
	height: 100%;
	width: 240px;
	left: 50%;
	top: 0;
	bottom: 0;
	margin-left: -120px;

	background: #f7c3c7;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FBDAC4), color-stop(0.35, #F3AFBC), color-stop(0.65, #F3AFBC), color-stop(1, #FBDAC4) );
	background-image: -o-linear-gradient(bottom, #FBDAC4 0%, #F3AFBC 35%, #F3AFBC 65%, #FBDAC4 100%);
	background-image: -moz-linear-gradient(bottom, #FBDAC4 0%, #F3AFBC 35%, #F3AFBC 65%, #FBDAC4 100%);
	background-image: -webkit-linear-gradient(bottom, #FBDAC4 0%, #F3AFBC 35%, #F3AFBC 65%, #FBDAC4 100%);
	background-image: -ms-linear-gradient(bottom, #FBDAC4 0%, #F3AFBC 35%, #F3AFBC 65%, #FBDAC4 100%);
	background-image: linear-gradient(to bottom, #FBDAC4 0%, #F3AFBC 35%, #F3AFBC 65%, #FBDAC4 100%);

	&:before,
	&:after {
		content: "";
		display: block;
		width: 62%;
		height: 100%;
		position: absolute;
		top: 0;
		border-radius: 50%;
		background: #fbdac4;
	}

	&:before {
		left: -25%;
		background: -webkit-gradient(linear, right top, left top, color-stop(40%,#fbdac4), color-stop(0%,#f6c0c8));
	}

	&:after {
		right: -25%;
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f6c0c8), color-stop(40%,#fbdac4));
	}
}



.clit {
	width: $clitWidth;
	height: $clitHeight;
	background: #f5aaa9;
	border-radius: $clitWidth;
	position: absolute;
	top: 50px;
	left: 50%;
	margin: 0 0 0 (-$clitWidth/2);
	z-index: 3;
	@include prefixr('transition', background-color ease 3s);
}

.labia {
	width: $labiaWidth;
	height: $labiaHeight;
	border-radius: 100%;
	position: absolute;
	top: 95px;
	left: 50%;
	margin: 0 0 0 (-$labiaWidth/2);
	z-index: 2;
	overflow: hidden;
	background: #f5aaa9;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #F5AAA9), color-stop(0.5, #F5AAA9), color-stop(1, #F5AAA9) );
	background-image: -o-linear-gradient(bottom, #F5AAA9 0%, #F5AAA9 50%, #F5AAA9 100%);
	background-image: -moz-linear-gradient(bottom, #F5AAA9 0%, #F5AAA9 50%, #F5AAA9 100%);
	background-image: -webkit-linear-gradient(bottom, #F5AAA9 0%, #F5AAA9 50%, #F5AAA9 100%);
	background-image: -ms-linear-gradient(bottom, #F5AAA9 0%, #F5AAA9 50%, #F5AAA9 100%);
	background-image: linear-gradient(to bottom, #F5AAA9 0%, #F5AAA9 50%, #F5AAA9 100%);
}

.drop {
	background-color: #c8eaf9;
}




.orgasm--1 {

	.clit {
		background-color: #d57675;
	}

	.clit__drop {
		width: 4px;
		position: absolute;
		top: 100%;
		margin-top: -1px;
		left: 50%;
		border-radius: 4px;
	}

	.clit__drop--1 {
		margin-left: -5px;
		@include prefixr('animation', shortDrop 3s linear forwards);
	}

	.clit__drop--2 {
		margin-left: 4px;
		@include prefixr('animation', longDrop 5s linear forwards);
	}

	.labia__drop--1 {
		width: 8px;
		position: absolute;
		top: -10px;
		left: 8px;
		height: 0;
		border-radius: 8px;
		@include prefixr('animation', xLongDrop 4s 2s linear forwards);
	}

	.labia__drop--2 {
		width: 12px;
		position: absolute;
		top: 25px;
		right: -3px;
		height: 0;
		border-radius: 12px;
		@include prefixr('animation', xxLongDrop 7s 3s linear forwards);
	}

	.main__drop {
		width: 20px;
		border-radius: 20px;
		position: absolute;
		top: 0;
		left: 50%;
		margin: ($labiaHeight+$clitHeight+50) 0 0 (-20px/2);
		z-index: 1;
		@include prefixr('animation', xxxLongDrop 3s 7s linear forwards);
	}
}





.climax {

	.overlay {
		background-color: #c8eaf9;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		@include prefixr('animation', showOverlay 3s ease both);
		z-index: 5;
	}

	.content {
		@include prefixr('animation', showContent 1s 3s linear forwards);
	}

}


.content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	z-index: 6;

	h1 {
		line-height: 0;
		position: absolute;
		top: 50%;
		width: 100%;

		@include media-query(large) {
			font-size: 60px;
		}
	}

	p {
		position: absolute;
		bottom: 30px;
		width: 100%;
		font-size: 14px;

		@include media-query(large) {
			font-size: 20px;
		}
	}

	a {
		color: #5D5D5D;
		text-decoration: underline;
	}
}


.social {
	position: absolute;
	bottom: 60px;
	width: 100%;
}

.social__item {
	display: inline-block;
	margin: 0 15px;
	vertical-align: bottom;
}


/*
	ANIMATIONS
 */

@include keyframes(showOverlay) {
	0% {
		-webkit-transform: translateY(100%);
		@include prefixr('transform', translateY(100%));
	}
	100% {
		-webkit-transform: translateY(0px);
		@include prefixr('transform', translateY(0px));
	}
}

@include keyframes(showContent) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes(shortDrop) {
	0% {
		height: 0;
	}
	100% {
		height: 30px;
	}
}

@include keyframes(longDrop) {
	0% {
		height: 0;
	}
	100% {
		height: 50px;
	}
}

@include keyframes(xLongDrop) {
	0% {
		height: 0;
	}
	100% {
		height: 65px;
	}
}

@include keyframes(xxLongDrop) {
	0% {
		height: 0;
	}
	100% {
		height: 100px;
	}
}

@include keyframes(xxxLongDrop) {
	0% {
		height: 0;
	}
	100% {
		height: 500px;
	}
}